.icon-box-tatca {
  background-position: 0 0;
}

.tatca:hover .box-child {
  background-position-y: -20px;
}


li.active .box-child {
  background-position-y: -20px;
}

li.active a {
  color: #e73948;
}

.check-menu {
  cursor: pointer;
}

a:focus {
  text-decoration: none;
  color: gray;
}

.company-info {
  padding: 10px;
  text-align: center;
}

.product-show {
  pointer-events: none;
}
