@media (min-width: 768px) {
  * {
    margin: 0px auto;
    padding: 0px;
  }

  input:focus, select:focus, button:focus {
    outline: none;
  }

  /*-------------------------i-------------------------*/
  .gender-input{
    z-index: -1;
    height: 42px !important;
    width: 333px !important;
    color: gray;
    border-radius: 5px 0px 0px 5px !important;
    border: none !important;
    font-family: 'Roboto', sans-serif, Tahoma;
  }
  .location-input{
    z-index: -1;
    height: 42px !important;
    width: 333px !important;
    color: gray;
    border-radius: 5px 0px 0px 5px !important;
    border: none !important;
    font-family: 'Roboto', sans-serif, Tahoma;
  }

  .user-name,.name-active,.place-choose,.place-active,.gender-choose,.gender-active{
    display: none;
  }
  @-webkit-keyframes color-text {
    0% {color: #000 ;}
    50%{color: #e73948;}
    100%{color: #000 ;}
  }
  @-webkit-keyframes my {
    0% { opacity: 1;  }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes my {
    0% { opacity: 1;  }
    50% { opacity: 0; }
    100% { opacity: 1;  }
  }
  .blink-text {
    font-size:14px;
    font-weight:bold;
    -webkit-animation: my 1000ms infinite;
    -moz-animation: my 1000ms infinite;
    -o-animation: my 1000ms infinite;
    animation: my 1000ms infinite;
    /*-webkit-animation: color-text 1000ms infinite;*/
  }
  .blink-text{
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 5px;
    top: 120px;
    right: 15px
  }


  .message-email{
    padding: 5px;
    width: 445px;
    position: absolute;
    top: 120px;
    height: 30px;
    background: none;
    display: none;
    float: left;
    font-family: 'Roboto', sans-serif, Tahoma;
  }
  .notification-follow{
    width: 90%;
    height: 81px;
    background-color: #fff;
    position: absolute;
    z-index: 50;
    border-radius: 5px;
    left: 5px;
    top: -87px;
    padding-left: 25px;
    padding-top: 10px;
    border: 1px solid #e8e8e8;
    display: none;
  }

  .notification-follow h4{
    font-family: 'Roboto', sans-serif, Tahoma;
    font-size: 12px;
  }

  .notification-follow button{
    font-family: 'Roboto', sans-serif, Tahoma;
    font-size: 12px;
    height: 30px;
    width: 230px;
    background-color: #e73948;
    border: 1px solid #fc5a68;
    margin-left: 14px;
  }

  .msg-follow{
    width: 90%;
    height: 81px;
    background-color: #fff;
    position: absolute;
    z-index: 50;
    border-radius: 5px;
    right: -20px;
    top: 45px;
    padding-left: 20px;
    padding-top: 15px;
    display: none;
  }

  .msg-follow p{
    font-family: 'Roboto', sans-serif, Tahoma;
    font-size: 12px;
  }

  .msg-follow button{
    font-family: 'Roboto', sans-serif, Tahoma;
    font-size: 12px;
    height: 30px;
    width: 230px;
    background-color: #e73948;
    border: 1px solid #fc5a68;
    margin-left: 14px;

  }

  .image-header {
    z-index: 5;
    background-image: url(./slide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .header {
    height: 532px;
    z-index: 1;
  }

  .header-front {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo {
    z-index: 1;
    width: 120px;
    height: 45px;
    float: left;
    position: relative;
  }

  .logo span {
    color: #fff;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-size: 18px;
    position: absolute;
    margin: 10px;
  }

  .logo a:hover {
    text-decoration: none;
  }

  .download-login {
    width: 300px;
    height: 45px;
    margin-right: 0px;
    padding-top: 7px;
  }

  .download-login button {
    background: none;
    color: #fff;
    font-family: Arial;
    margin-right: 10px;
  }

  .download-login button:hover {
    background: none;
    color: #fff;
    font-family: Arial;
  }

  .download-app a:hover {
    text-decoration: none;
    color: #fff;
    background: none;
  }

  .download-login a {
    color: #fff;
    font-family: Arial;
    font-weight: 500;
  }

  .download-login a:hover {
    color: #fff;
    font-family: Arial;
  }

  /*----------------slide-content-------------------------*/
  .slide-header {
    height: 220px;
    z-index: 1;
    float: left;
    flex-direction: column;
    position: absolute;
    top: 156px;
  }

  .slide-header-child {
    width: 100%;
    height: 70px;
    margin-left: 20px;
  }

  .slide-header-child p {
    font-size: 36px;
    color: #fff;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;

  }

  .slide-header-child span {
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto', sans-serif, Tahoma;
  }

  .slide-header-child button {
    width: 263px;
    height: 59px;
    border-radius: 5px;
  }

  .slide-header-child button p {
    color: #fff;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-size: 20px;
    margin-top: 10px;
  }

  .slide-header-child a {
    color: #fff;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
  }

  .slide-header-child a:hover {
    color: #fff;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
  }

  .slide-header-child:last-child {
    margin-top: 20px;
    position: relative;
  }

  .slide-header-child:last-child p {
    display: inline;
    color: #fff;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    position: absolute;
    top: 2px;
    left: 103px;
  }

  /*----------------------end-image-header--------------*/
  .menu-bar {
    height: 50px;
    background: #fff;
    border: 1px #eee solid;
  }

  .menu-bar input {
    height: 48px !important;
  }

  .menu-bar-child {
    width: 750px;
    height: 50px;
    float: left;
  }

  .menu-bar-child ul {
    text-align: center;
    list-style: none;
    display: flex;
  }

  .menu-bar-child li {
    line-height: 50px;
  }

  .menu-bar-child a {
    font-family: Arial;
    color: gray;
  }

  .menu-bar-child ul li:hover a {
    text-decoration: none;
  }

  .menu-bar-child a:hover {
    color: #e73948;
  }

  /*-------------------------end-----------------------*/
  .place-hoder {
    height: 50px;
    padding-top: 15px;
  }

  .place-hoder a {
    height: 50px;
    border: none;
    font-family: Arial;
    color: #666666;
  }

  .place-hoder i {
    color: #666666;
  }

  .place-hoder a:hover {
    height: 50px;
    border: none;
    font-family: Arial;
    color: #666666;
    text-decoration: none;
  }

  .menu-search {
    height: 50px;
    width: 233px;
    display: flex;
  }

  .place-location {
    width: 116px;
    height: 50px;
  }

  #cities {
    list-style: none;
    margin-top: -14px;
    border: 1px solid #dedede;
    height: 80px;
    width: 95px;
    text-align: center;
    margin-left: -10px;
    padding-top: 10px;
    display: none;
  }

  .city {
    width: 93px;
    height: 30px;
  }

  .city a:hover {
    color: #e73948;
  }

  /*-----------------------------end-----------------------*/
  .search-bar {
    float: left;
    height: 50px;
    border-left: 1px solid #dedede;
  }

  .search-bar select {
    color: #696969;
  }

  .search-bar input {
    height: 50px;
    padding-left: 5px;
    border: none;
    font-family: Arial;
  }

  .menu-search a {
    color: gray;
    height: 34px;
    width: 37px;
    border-radius: 5px;
    padding-top: 7px;
    padding-right: 25px;
    margin-top: 8px;
  }

  .menu-search i {
    text-align: center;
  }

  .menu-search a:hover {
    background-color: #F5F5F5;
    color: gray;
  }

  .menu-box {
    width: 100%;
    height: 160px;
    background-color: #F5F5F5;
    padding-top: 55px;
  }

  .menu-box ul {
    width: 402px;
    height: 64px;
    background-color: #fff;
    text-align: center;
    list-style: none;
    border: 1px solid #dedede;
    border-radius: 5px;
  }

  .menu-box ul li {
    float: left;
    width: 78px;
    padding: 15px;
    border-right: 1px solid #dedede;
    font-size: inherit;
    height: 64px;
    line-height: 22px;
  }

  .menu-box ul li:last-child {
    border-right: none;
  }

  .menu-box a {
    color: #333333;
    font-family: Arial;
  }

  .menu-box li:hover a {
    text-decoration: none;
    color: #e73948;
  }

  .menu-box p {
    margin-top: 5px;
  }

  .box-child {
    width: 38px;
    height: 20px;
    background-image: url(./spr.png);
    background-repeat: no-repeat;
    margin-top: 0px;
  }

  .icon-box-tatca {

    background-position-x: 0px;
    background-position-y: -20px;
  }

  .icon-box-an {
    background-position-x: -38px;
    background-position-y: 0px;
  }

  .an:hover .icon-box-an {
    background-position-x: -38px;
    background-position-y: -20px;
  }

  .icon-box-uong {
    background-position-x: -73px;
    background-position-y: 0px;
  }

  .uong:hover .icon-box-uong {
    background-position-x: -73px;
    background-position-y: -20px;
  }

  .icon-box-mac {
    background-position-x: -114px;
    background-position-y: 0px;
  }

  .mac:hover .icon-box-mac {
    background-position-x: -114px;
    background-position-y: -20px;
  }

  .icon-box-dep {
    background-position-x: -153px;
    background-position-y: 0px;
  }

  .dep:hover .icon-box-dep {
    background-position-x: -153px;
    background-position-y: -20px;
  }

  /*---------------------end-menu-box----------------------------*/
  .info-product {
    height: auto;
    background-color: #F5F5F5;
  }

  .menu-product {
    height: auto;
    display: flex;
    flex-flow: row wrap;
  }

  .product-child {
    width: 330px;
    height: 325px;
    margin-bottom: 30px;
  }

  .product-show {
    width: 100%;
    height: 220px;
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: -40px;
    -webkit-transition: opacity .7s;
    -moz-transition: opacity .7s;
    -ms-transition: opacity .7s;
    -o-transition: opacity .7s;
    transition: opacity .7s;
  }

  .product-show a:hover {
    text-decoration: none;
  }

  .product-show:hover .company-show {
    opacity: 0.96;
  }

  .company-info {
    width: 100%;
    height: 40px;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    padding: 10px 75px;
    border-bottom: 1px solid #ededed;
  }

  .company-info p {
    color: #666666;
  }

  .company-show {
    width: 100%;
    height: 180px;
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
  }

  .company-show p {
    font-size: 11px;
    font-family: 'Roboto', sans-serif, Tahoma;
    color: #747474;
  }

  .content-com {
    width: 330px;
    height: 180px;
  }

  .product-preview {
    width: 100%;
    height: 220px;
    z-index: 10;
  }

  .product-image:hover .product-show {
    opacity: 1;
    z-index: 5;
  }

  .company-product {
    width: 100%;
    height: 40px;
    position: relative;
    background-color: #fff;
    padding: 8px 130px;
  }

  .company-product img {
    width: 70px;
    height: 30px;
  }

  .icons-add {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    padding: 10px 15px;
  }

  .icons-add a:hover i {
    color: #e11171;
  }

  .icons-add a {
    color: gray;
  }

  .product-image {
    width: 100%;
    height: 180px;
    position: relative;
  }

  .product-image img {
    width: 100%;
    height: 180px;
  }

  .promotion {
    width: auto;
    height: 55px;
    position: absolute;
    top: 60%;
  }

  .abatement {
    width: auto;
    height: 30px;
    background-color: #e73948;
    clip-path: polygon(0 100%, 0 0, 100% 0, 95% 100%);
    padding-top: 5px;
  }

  .abatement p {
    color: #fff;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .free-time {
    float: left;
    width: auto;
    height: 25px;
    background-color: #333333;
    padding-top: 5px;
    clip-path: polygon(0 100%, 0 0, 100% 0, 95% 100%);
  }

  .free-time p {
    color: #fff;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-size: 12px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .deal-pinned:before {
    font-family: FontAwesome, sans-serif;
    content: "\f005";
    display: inline-block;
    vertical-align: baseline;
    margin: 0 5px 0 0;
  }

  .deal-pinned {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.56);
    color: #fff;
    padding: 2px 6px 0px;
    border-radius: 4px;
    font-size: 11px;
    font-family: 'Roboto', sans-serif, Tahoma;
  }

  .product-info {
    width: 100%;
    height: 120px;
  }

  .info-product-new {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #F5F5F5;
    padding-left: 5px;
  }

  .info-product-new a {
    float: left;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    width: 60%;
    height: 35px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .info-product-new a:hover {
    text-decoration: none;
    color: #e73948;
  }

  .info-product-new button {
    float: left;
    width: 35%;
    margin-top: 8px;
    color: #a4a4a4;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: 500 !important;
    height: 35px;
    margin-left: 6px;
  }

  #layma {
    background-color: #e73948;
    color: #fff;
    position: relative;
  }

  #chitiet {
    border: 1px solid #a44400;
    background-color: #ef863b;
    color: #fff;
  }

  #datcho {
    border: 1px solid #e73948;
    background: none;
    color: #e73948;
    font-weight: 500 !important;
  }

  #datcho:hover {
    box-shadow: 0px 1px 10px #e73948;
  }

  .info-product-new button:hover {
    color: #a4a4a4;
    background: none;
    box-shadow: 0px 1px 10px #999999;
  }

  .the-s {
    color: gray;
    width: 30px;
    height: 34px;
    background-image: url("https://jamja.vn/static/ui-rmk/images/code-mask-green.png");
    position: absolute;
    background-repeat: no-repeat;
    background-position-x: -5px;
    background-position-y: -3px;
    background-color: #fff;
    top: 0px;
    font-size: 20px;
    overflow: hidden;
    padding-left: 14px;
    clip-path: polygon(0 85%, 0 0, 100% 0, 100% 100%);
    border-radius: 2px 3px 6px 15px;
    right: 0px;
    padding-top: 5px;
  }

  .text-button {
    margin-right: 25px;
  }

  .product-child:hover {
    box-shadow: 0px 1px 10px #999999;
  }

  .like-product {
    width: 100%;
    height: 55px;
    background-color: #fff;
    padding: 17px;
    position: relative;
  }

  .like-product a {
    color: gray;
    font-family: 'Roboto', sans-serif, Tahoma;
    margin: 10px;
    margin-left: -8px;
  }

  .like-product p {
    font-family: 'Roboto', sans-serif, Tahoma;
    float: right;
    color: #a4a4a4;
    margin-right: -6px;
  }

  .like-product a:hover {
    text-decoration: none;
    color: #e73948;
  }
  .quick-view{
    display: none;
  }


  .button-load {
    color: #e73948;
    padding-left: 40px !important;
  }

  .button-load button {
    width: 150px;
    height: 36px;
    font-family: 'Roboto', sans-serif, Tahoma;
    color: #e73948;
    background: #fff;
  }

  .button-load button:hover {
    background-color: #e73948;
    color: #fff;
  }

  .footer {
    height: 591px;
    background-color: #dadada;
  }

  .content {
    height: 591px;
    background-color: pink;
  }

  .info-jamja {
    height: 296px;
    background-color: #dadada;
    display: flex;
  }

  .info-jamja-child {
    margin-top: 50px;
  }

  .info-jamja-child p {
    font-family: 'Roboto', sans-serif, Tahoma;
    color: #818181;
  }

  .info-jamja-child a {
    background-position: 10px;
    margin-right: 20px;
  }

  .info-jamja-child img {
    width: 125px;
    height: 45px;
  }

  .info-jamja-child h4 {
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    color: #666666;
    font-size: 14px;
    margin-left: 0px;
  }

  .info-jamja-child:last-child {
    margin-top: 25px;
  }

  .download-app-footer h4 {
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    color: #666666;
    font-size: 14px;
  }

  .download-app-footer img {
    width: 145px;
    height: 45px;
    margin-right: 20px;
  }

  .download-app-footer {
    margin-top: 40px;
  }

  .download-pl-app{
    width:50%;
    display: flex;
    float: left;
  }
  .contact-jamja {
    height: 255px;
  }

  .info-jamja-child {
    width: 100%;
    height: 100px;
  }

  .jamja-s1 {
    width: 100%;
    height: 296px;
  }

  .jamja-s2 {
    width: 100%;
    height: 295px;
    background-color: #fafafa;
  }

  .info-jamja-child {
    width: 100%;
    height: 100px;
  }

  .menu-nav h4 {
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    color: #666666;
    font-size: 14px;
  }

  .info-jamja-child p {
    font-family: 'Roboto', sans-serif, Tahoma;
    color: #818181;
  }

  .info-jamja-child a {
    background-position: 10px;
    margin-right: 20px;
  }

  .info-jamja-child img {
    width: 125px;
    height: 45px;
  }

  .menu-nav {
    width: 140px;
    height: 150px;
    margin-top: 40px;
  }

  .menu-nav ul {
    width: auto;
    list-style: none;
  }

  .menu-nav li {
    width: auto;
    font-size: 14px;
    font-family: 'Roboto', sans-serif, Tahoma;
    line-height: 30px;
    margin-left: 0px;
  }

  .menu-nav a {
    color: #666666;
  }

  .menu-nav a:hover {
    color: #666666;
  }

  .contact-email-child h4 {
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    color: #666666;
    font-size: 14px;
    margin-top: 50px;
  }

  .email-register {
    width: 100%;
  }

  .email-register input {
    height: 42px;
    border: none;
    font-family: 'Roboto', sans-serif, Tahoma;
    border-radius: 5px 0px 0px 5px;
  }

  .email-register button {
    border: none;
    height: 42px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif, Tahoma;
    color: #666666;
    border-radius: 0px 5px 5px 0px;
  }

  .email-register button:hover {
    background-color: #fff;
  }

  .email-register button i {
    margin-left: -7px;
  }

  .email-register span{
    font-size: 14px;
  }

  .follow-jamja {
    width: 100%;
    height: 250px;
    margin-top: 40px;
  }

  .follow-jamja iframe {
    height: 200px;
    margin-top: 5px;
    width: 100% !important;
  }

  .follow-jamja h4 {
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    color: #666666;
    font-size: 14px;
  }

  .fb-jamja-plugin {
    width: 100%;
    height: auto;
  }

  .JamJa-company {
    height: 80px;
    background-color: #F5F5F5;
  }

  .jamja-pro {
    height: 80px;
    position: relative;
  }

  .JamJa-company p {
    font-family: 'Roboto', sans-serif, Tahoma;
    color: #818181;
    position: absolute;
    right: 0px;
    top: 15px;
  }

  #send-message {
    position: fixed;
    right: 10px;
    border: 0;
    bottom: 10px;
    z-index: 60;
    background-color: #0084ff;
    border-radius: 3px;
    height: 35px;
    color: white;
    width: 127px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    cursor: pointer;
  }

  .button-loading{
    height:66px;
    background-color: #f5f5f5;
  }
  .mobile{
    display: none;
  }
  #hamburger-box-jamja{
    display: none !important;
  }


}
      /*-----------------------------------end------------------------------------------*/

@media (max-width: 768px) {

  .location-input{
    display: none;
  }
  .blink-text{
    display: none;
  }
  .user-name{
    display: none;
  }

  .message-emai{
    display: none;
  }

  .notification-follow{
    display: none;
  }

  .msg-follow{
    display: none;
  }

  .input-search input{
    height: 34px;
    border: none;
    border-radius: 5px;
    width: 215px;
    background: none;
    font-family: 'Roboto', sans-serif, Tahoma;
    display: none;

  }

  .input-search p{
    font-family: 'Roboto', sans-serif, Tahoma;
    padding-top: 10px;
    position: absolute;
    right: -25px;
    top: -2px;
    font-size: 12px;
    display: none;
  }

  input:focus,button:focus{
    outline: none;
    border: none !important;
  }

  #hamburger-box-jamja{
    position: fixed;
    height: 667px;
    background-color: #fff;
    top: 50px;
    z-index: 100;
    display: none;
    overflow-y: auto;
  }

  .login-facebook{
    width: 100%;
    height:43px;
    padding: 12px 10px;
  }

  .login-facebook a{
    font-family: 'Roboto', sans-serif, Tahoma;
    font-size: 14px;
  }

  .login-facebook i{
    font-size: 20px;
    margin-right: 5px;
  }

  .discovery{
    width: 100%;
    height: auto;
    color: #333;
    font-size: 13px;
    font-weight: 400;
    padding: 0px !important;
  }

  .discovery h4{
    height: 30px;
    font-family: 'Roboto', sans-serif, Tahoma;
    background: #f5f5f5;
    margin-bottom: 0px;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 400;
  }

  .discovery ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px !important;
  }

  .discovery li{
    height:42px;
    border-bottom: 1px solid #f5f5f5;
  }

  .discovery li a{
    height:42px !important;
    display: flex;
    color: #333;
    padding-top: 10px;
  }

  .discovery li p{
    width: 91%;
    margin-top: 5px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif, Tahoma;
  }

  .image-icon{
    width: 9%;
    height: 18px;
    background-image: url(./sprm.png);
    background-size: 200px 300px;
    background-repeat: no-repeat;
  }
  .discovery li:first-child .image-icon{
    background-position-x: 10px;
    background-position-y: -15px;
    height: 20px;
  }

  .discovery li:nth-child(2) .image-icon{
    background-position-x: 5px;
    background-position-y: -35px;
  }

  .discovery li:nth-child(3) .image-icon{
    background-position-x: 5px;
    background-position-y: -54px;
  }
  .discovery li:nth-child(4) .image-icon{
    background-position-x: 5px;
    background-position-y: -71px;
  }

  .discovery li:nth-child(5) .image-icon{
    background-position-x: 5px;
    background-position-y: -90px;
  }

  .discovery li:nth-child(2),.discovery li:nth-child(3),.discovery li:nth-child(4),.discovery li:nth-child(5) > a
  {
    padding-left: 25px;
  }

  .discovery li:nth-child(6) .image-icon{
    background-position-x: 10px;
    background-position-y: -225px;
  }

  .discovery li:nth-child(7) .image-icon{
    background-position-x: 10px;
    background-position-y: -240px;
  }

  .discovery li:nth-child(8) .image-icon{
    background-position-x: 10px;
    background-position-y: -142px;
  }

  .discovery li:nth-child(9) .image-icon{
    background-position-x: 10px;
    background-position-y: -160px;
  }

  .jamja-info-box{
    width: 100%;
    height:auto;
  }

  .jamja-info-box h4{
    height: 30px;
    font-family: 'Roboto', sans-serif, Tahoma;
    background: #f5f5f5;
    margin-bottom: 0px;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 400;
  }

  .jamja-info-box ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px !important;
  }

  .jamja-info-box li{
    height:42px;
    border-bottom: 1px solid #f5f5f5;
  }

  .jamja-info-box a{
    height:42px !important;
    display: flex;
    color: #333;
    padding-top: 10px;
  }

  .jamja-info-box p{
    width: 91%;
    margin-top: 5px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif, Tahoma;
  }

  .jamja-info-box li:first-child .image-icon{
    background-position-x: 10px;
    background-position-y: 5px;
    height: 20px;
  }

  .jamja-info-box li:nth-child(2) .image-icon{
    background-position-x: 10px;
    background-position-y: -110px;
  }

  .jamja-info-box li:nth-child(3) .image-icon{
    background-position-x: 10px;
    background-position-y: -125px;
  }

  .menu-choose{
    width: 100%;
    height:auto;
  }

  .menu-choose h4{
    height: 30px;
    font-family: 'Roboto', sans-serif, Tahoma;
    background: #f5f5f5;
    margin-bottom: 0px;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 400;
  }

  .menu-choose ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px !important;
  }

  .jamja-info-box li{
    height:42px;
    border-bottom: 1px solid #f5f5f5;
  }

  .menu-choose a{
    height:42px !important;
    display: flex;
    color: #333;
    padding-top: 10px;
  }

  .menu-choose p{
    width: 91%;
    margin-top: 5px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif, Tahoma;
  }

  .menu-choose li .image-icon{
    background-position-x: 10px;
    background-position-y: -200px;
    height: 20px;
  }

  .mobile{
    height:94px;
    background-color: violet;
    position: fixed;
    top: 0px;
    z-index: 100;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .menu-search-mobile{
    width:100%;
    height:50px;
    background: #e73948;
  }

  .menu-nav-mobile{
    height:44px;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .menu-nav-mobile ul{
    list-style: none;
    display: flex;
    width:430px;
  }

  .menu-nav-mobile::-webkit-scrollbar { width: 0 !important; }

  .nav > li > a:hover, .nav > li > a:focus{
    background: none;
  }

  .menu-nav-mobile li{
    white-space: nowrap;
    height:44px;
    line-height: 21px;
  }

  .menu-nav-mobile li a{
    font-family: 'Roboto', sans-serif, Tahoma;
    color: #9d9d9d;
    font-size: 12px;
  }

  .image-header {
    display: none;
  }

  .menu-bar{
    display: none;
  }

  .menu-box{
    width:100%;
    height:50px;
    background-color: #f5f5f5;
    padding: 0px !important;
    margin-top: 94px;
  }

  .check-menu{
    width:100%;
    height:50px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .menu-box ul{
    width:100%;
    height:50px;
    list-style: none;
    text-align: center;
    display: flex;
    padding-left: 0px;
  }

  .menu-box li{
    height:50px;
    padding-top: 17px;
  }

  .menu-box li:first-child{
    margin-left: 10px;
  }

  .menu-box li:first-child p{
    border: none;
    color: #e73948;
  }

  .menu-box li a{
    font-family: 'Roboto', sans-serif, Tahoma;
    font-size: 12px;
    color: #9d9d9d;
  }

  .menu-box p{
    width: 44px;
    height: 21px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding-top: 2px;
  }

  .icon-box-tatca,.icon-box-an,.icon-box-uong,.icon-box-dep,.icon-box-mac{
    display: none;
  }

  .info-product {
    height: auto;
    background-color: #F5F5F5;
  }

  .menu-product {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 15px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .content-product{
    background-color: #f5f5f5;
    height: auto;
  }

  .product-child {
    height: 325px;
    margin-bottom: 10px;
  }

  .product-show {
    width: 100%;
    height: 220px;
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: -40px;
    -webkit-transition: opacity .7s;
    -moz-transition: opacity .7s;
    -ms-transition: opacity .7s;
    -o-transition: opacity .7s;
    transition: opacity .7s;
  }

  .product-show a:hover {
    text-decoration: none;
  }

  /*.product-show:hover .company-show {*/
    /*opacity: 0.96;*/
  /*}*/

  .company-info {
    width: 100%;
    height: 40px;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    padding: 10px 75px;
    border-bottom: 1px solid #ededed;
  }

  .company-info p {
    color: #666666;
  }

  .company-show {
    width: 100%;
    height: 180px;
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
  }

  .company-show p {
    font-size: 11px;
    font-family: 'Roboto', sans-serif, Tahoma;
    color: #747474;
  }

  .content-com {
    width: 330px;
    height: 180px;
  }

  .product-preview {
    width: 100%;
    height: 220px;
    z-index: 10;
  }

  /*.product-image:hover .product-show {*/
    /*opacity: 1;*/
    /*z-index: 5;*/
  /*}*/

  .company-product {
    width: 100%;
    height: 40px;
    position: relative;
    background-color: #fff;
    padding: 8px 130px;
  }

  .company-product img {
    width: 70px;
    height: 30px;
  }

  .icons-add {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    padding: 10px 15px;
  }

  .icons-add a:hover i {
    color: #e11171;
  }

  .icons-add a {
    color: gray;
  }

  .product-image {
    width: 100%;
    height: 180px;
    position: relative;
  }

  .product-image img {
    width: 100%;
    height: 180px;
  }

  .promotion {
    width: auto;
    height: 55px;
    /*z-index: 1;*/
    position: absolute;
    top: 60%;
  }

  .abatement {
    width: auto;
    height: 30px;
    background-color: #e73948;
    clip-path: polygon(0 100%, 0 0, 100% 0, 95% 100%);
    padding-top: 5px;
  }

  .abatement p {
    color: #fff;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .free-time {
    float: left;
    width: auto;
    height: 25px;
    background-color: #333333;
    padding-top: 5px;
    clip-path: polygon(0 100%, 0 0, 100% 0, 95% 100%);
  }

  .free-time p {
    color: #fff;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-size: 12px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .deal-pinned:before {
    font-family: FontAwesome, sans-serif;
    content: "\f005";
    display: inline-block;
    vertical-align: baseline;
    margin: 0 5px 0 0;
  }

  .deal-pinned {
    position: absolute;
    top: 8px;
    right: 15px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.56);
    color: #fff;
    padding: 2px 6px 0px;
    border-radius: 4px;
    font-size: 11px;
    font-family: 'Roboto', sans-serif, Tahoma;
  }

  .product-info {
    width: 100%;
    height: 120px;
  }

  .info-product-new {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #F5F5F5;
    padding-left: 5px;
  }

  .info-product-new a {
    float: left;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    width: 60%;
    height: 35px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .info-product-new a:hover {
    text-decoration: none;
    color: #e73948;
  }

  .info-product-new button {
    float: left;
    width: 36%;
    margin-top: 8px;
    color: #a4a4a4;
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: 500 !important;
    height: 35px;
    margin-left: 6px;
  }

  #layma {
    background-color: #e73948;
    color: #fff;
    position: relative;
  }

  #chitiet {
    border: 1px solid #a44400;
    background-color: #ef863b;
    color: #fff;
  }

  #datcho {
    border: 1px solid #e73948;
    background: none;
    color: #e73948;
    font-weight: 500 !important;
  }

  #datcho:hover {
    box-shadow: 0px 1px 10px #e73948;
  }

  .info-product-new button:hover {
    color: #a4a4a4;
    background: none;
    box-shadow: 0px 1px 10px #999999;
  }

  .the-s {
    color: gray;
    width: 30px;
    height: 34px;
    background-image: url("https://jamja.vn/static/ui-rmk/images/code-mask-green.png");
    position: absolute;
    background-repeat: no-repeat;
    background-position-x: -5px;
    background-position-y: -3px;
    background-color: #fff;
    top: 0px;
    font-size: 20px;
    overflow: hidden;
    padding-left: 14px;
    clip-path: polygon(0 85%, 0 0, 100% 0, 100% 100%);
    border-radius: 2px 3px 6px 15px;
    right: 0px;
    padding-top: 5px;
  }

  .text-button {
    margin-right: 25px;
  }

  /*.product-child:hover {*/
    /*box-shadow: 0px 1px 10px #999999;*/
  /*}*/

  .like-product {
    width: 100%;
    height: 55px;
    background-color: #fff;
    padding: 17px;
  }

  .like-product a {
    color: gray;
    font-family: 'Roboto', sans-serif, Tahoma;
    margin: 10px;
    margin-left: -8px;
  }

  .like-product p {
    font-family: 'Roboto', sans-serif, Tahoma;
    float: right;
    color: #a4a4a4;
    margin-right: 5px;
  }

  .like-product a:hover {
    text-decoration: none;
    color: #e73948;
  }

  .quick-view{
    position: absolute;
    width:94px;
    height:24px;
    background-color: #fff;
    bottom: 15px;
    right:10px;
    font-size: 12px;
    color: #666666;
    padding: 4px 8px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    border: none;
    opacity: .8;
    font-family: 'Roboto', sans-serif, Tahoma;
  }

  .contact-email-child{
    border-top: 1px solid #fff;
  }

  .contact-email-child h4 {
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    color: #666666;
    font-size: 13.5px;
    margin-top: 20px;
  }

  .email-register {
    width: 100%;
  }

  .email-register input {
    height: 42px;
    border: none;
    font-family: 'Roboto', sans-serif, Tahoma;
    border-radius: 5px 0px 0px 5px;
  }

  .email-register button {
    border: none;
    height: 42px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif, Tahoma;
    color: #666666;
    border-radius: 0px 5px 5px 0px;
  }

  .email-register button:hover {
    background-color: #fff;
  }

  .email-register button i {
    margin-left: -7px;
  }

  .email-register span{
    font-size: 12px;
  }

  .download-app-footer{
    color: #666970;
  }

  .jamja-s2{
    display: none;
  }

  .jamja-s1{
    background-color: #dadada;
    height:400px;
  }

  .info-jamja{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .info-jamja-child p {
    font-family: 'Roboto', sans-serif, Tahoma;
    color: #333;
    text-align: justify;
  }
  .info-jamja-child h4 {
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    color: #666970;
    font-size: 14px;
    text-align: center;
  }

  .info-jamja-child:last-child {
    margin-top: 25px;
  }

  .download-app-footer h4 {
    font-family: 'Roboto', sans-serif, Tahoma;
    font-weight: bold;
    color: #666970;
    text-align: center;
    font-size: 14px;
  }

  .download-app-footer img {
    margin-right: 15px;
  }

  .download-app-footer {
    margin-top: 20px;
  }

  .download-pl-app{
    display: flex;
    margin-bottom: 20px;
  }

  .button-loading{
    height: 57px;
    background-color: #f5f5f5;
  }
  .button-load{
    width: 100%;
    height:100px;
    background-color: #f5f5f5;
  }
  .button-load button{
    width:150px;
    background: none;
    color: #e73948;
    font-family: 'Roboto', sans-serif, Tahoma;
  }

  .menu-search-mobile{
    padding: 8px 0px;
    display: flex;
    position: relative;
  }

  #hamburger{
    width: 44px;
    height:34px;
    border: none;
    position: relative;
    background: none;
    padding: 0px !important;
  }

  #hamburger span{
    display: block;
    width:22px;
    height:2px;
    background-color: #fff;
    opacity: 1;
    position: absolute;
    left: 11px;
  }

  #hamburger span:nth-child(1){
    top: 10px;
  }

  #hamburger span:nth-child(2){
    top: 16px;
  }

  #hamburger span:nth-child(3){
    top: 22px;
  }

  .mobile-logo{
    width: 73px;
    height:34px;
  }

  .mobile-logo img{
    width: 73px;
    height:34px;
  }

  .input-search{
    width: auto;
    height:34px;
    position: absolute;
    right:10px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #cc3333;
    display: flex;
    align-items: center;
  }

  .mobile-place-search{
    width: 67px;
    height:29px;
    padding: 0px !important;
  }

  .mobile-place-search button{
    width: 67px;
    height:18px;
    border: none;
    font-family: 'Roboto', sans-serif, Tahoma;
    padding: 0px !important;
    margin-top: 7px;
    background: none;
    border-right: 1px solid #af0000;
    color: #fff;
    font-size: 12px;
  }

  .input-search span{
    width: 35px;
    height:29px;
  }

  .nav > li > a:hover, .nav > li > a:focus{
    background: none;
    text-decoration: none;
  }

  .input-search span button:active,
  .input-search span button:hover,
  .input-search span button:focus,
  .input-search span button {
    width: 35px;
    height:29px;
    background: none!important;
    border: none;
    padding-left: 0px;
    color: #fff !important;
    font-size: 12px;
    outline: 0 !important;
    box-shadow: none !important;
  }

  .JamJa-company {
    height: 60px;
    background-color: #F5F5F5;
  }

  .jamja-pro {
    height: 60px;
    position: relative;
  }

  .JamJa-company p {
    font-family: 'Roboto', sans-serif, Tahoma;
    color: #818181;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  #send-message{
    display: none;
  }
}

@media (max-width: 414px) {

  #hamburger-box-jamja {
    width: 414px;
  }

  .mobile {
    width: 414px;
  }

  .content-product {
    width: 414px;
  }

  .product-child {
    width: 414px;
  }

  .menu-box li {
    width: 80px;
  }

  .button-load button {
    margin-left: 105px;
  }

  .download-app-footer img {
    width: 184px;
    height: 55px;
  }

  .contact-email-child h4 {
    font-size: 14px;
  }

  .menu-box li:first-child p {
    margin-left: 10px;
  }

  .company-product {
    padding: 8px 150px;
  }

  .discovery li:first-child .image-icon {
    background-position-x: 15px !important;
  }

  .jamja-info-box li:first-child .image-icon {
    width: 35px;
  }


  .box-jamja{
    height: 740px;
  }
}

@media (max-width: 412px){

  .discovery li:first-child .image-icon {
    background-position-x: 15px;
  }

  .jamja-info-box li:first-child .image-icon {
    width: 35px;
  }

  #hamburger-box-jamja{
    width: 412px;
  }

  .mobile{
    width: 412px;
  }

  .content-product{
    width:412px;
  }

  .product-child{
    width:412px;
  }

  .menu-box li{
    width:80px;
  }

  .button-load button{
    margin-left: 100px;
  }

  .download-app-footer img{
    width: 183px;
    height:55px;
  }

  .contact-email-child h4{
    font-size: 14px;
  }

  .menu-box li:first-child p{
    margin-left: 10px;
  }

  .company-product{
    padding: 8px 170px;
  }
  .box-jamja{
    height: 740px;
  }

}

@media (max-width: 375px){

  #hamburger-box-jamja{
    width: 375px;
  }

  .mobile{
    width: 375px;
  }

  .content-product{
    width: 375px;
  }

  .product-child{
    width:375px;
  }

  .menu-box li{
    width:80px;
  }

  .button-load button{
    margin-left: 85px;
  }

  .download-app-footer img{
    width: 165px;
    height:49px;
  }

  .contact-email-child h4{
    font-size: 14px;
  }

  .menu-box li:first-child p{
    margin-left: 10px;
  }

  .company-product{
    padding: 8px 150px;
  }

}

@media (max-width: 360px){

  #hamburger-box-jamja{
    width: 360px;
  }

  .mobile{
    width: 360px;
  }

  .content-product{
    width: 360px;
  }

  .product-child{
    width:360px;
  }

  .menu-box li{
    width:80px;
  }

  .button-load button{
    margin-left: 75px;
  }

  .download-app-footer img{
    width: 157px;
    height:47px;
  }

  .contact-email-child h4{
    font-size: 14px;
  }

  .menu-box li:first-child p{
    margin-left: 10px;
  }

  .company-product{
    padding: 8px 150px;
  }

}

@media (max-width: 320px){

  #hamburger-box-jamja{
    width: 320px;
  }

  .mobile{
    width: 320px;
  }

  .content-product{
    width: 320px;
  }

  .product-child{
    width:320px;
  }

  .menu-box li{
    width:80px;
  }

  .button-load button{
    margin-left: 55px;
  }

  .download-app-footer img{
    width: 137px;
    height:41px;
  }

  .contact-email-child h4{
    font-size: 14px;
  }

  .menu-box li:first-child p{
    margin-left: 10px;
  }

  .company-product{
    padding: 8px 130px;
  }

  .contact-email-child h4{
    font-size: 13.5px;
  }

  .discovery li:first-child .image-icon {
    background-position-x: 7px;
  }

  .jamja-info-box li:nth-child(1),.jamja-info-box li:nth-child(2),.jamja-info-box li:nth-child(3) .image-icon{
     margin-top: 5px !important;
  }

  .box-jamja{
    height: 910px;
  }


}
